{% extends 'base.html.twig' %}

{% block title %}All gears{% endblock %}

{% block body %}
    <section class="gears">
        {% for gear in gears %}
        <gear>
            <h2>{{ gear.name }}</h2>
            <img src="{{ gear.image }}" alt="">
            {{ gear.description | raw }}
            <a href="{{ path('site_show', {'id': gear.id}) }}" class="btn btn-primary">See the product</a>
        </gear>
        {% endfor %}
    </section>
{% endblock %}
